@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font: 15px/1.6 "돋움", sans-serif;
    color: #333;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

/* 기본 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
header {
    position: relative;
    z-index: 1; /* 앞으로올리기 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #eef2f8;
}

/* 로고 */
.logo {
    width: 200px;
    height: 40px;
}

/* 내비게이션 */
.gnb {
    position: absolute;
    right: 0;
    width: 640px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}

/* 1depth 메인메뉴 */
.main {
    display: flex;
}

.main > li > a {
    /* 메인메뉴 */
    display: block;
    width: 160px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.main > li > a:hover {
    background: #1a4975;
    color: #fff;
}

.main:hover .sub {
    height: 120px;
}
/*
    .main>li:hover .sub메뉴당 한줄씩
    .main:hover .sub메뉴 전부

*/

/* 2depth 서브메뉴 */
.sub {
    height: 0;
    overflow: hidden;
    transition: 0.3s; /* 슬라이딩을 위해 */
    background: rgba(255, 255, 255, 0.5);
}

.sub a {
    display: block;
}
.sub li a:hover {
    background: #1a4975;
    color: #fff;
}

.sub > li > a {
    font-size: 14px;
}

/* 슬라이드 */
.slide {
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: relative;
    height: 400%;
    animation: slide 8s infinite;
}

.slide img {
    vertical-align: top;
}

@keyframes slide {
    0% {top: 0;}
    10% {top: -100%;}
    33% {top: -100%;}
    43% {top: -200%;}
    66% {top: -200%;}
    76% {top: -300%;}
    99.99% {top: -300%;}
    100% {top: 0;}
}

/* 팝업 레이어 */
#popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#popup:target {
    display: block;
}
/* 팝업창 */
.popup_content {
    /* position: relative; */
    margin: 10% auto;
    padding: 20px;
    background: #fff;
    width: 500px;
}

/* 닫기 버튼 */
.close_btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
}

.outer_btn {
    text-align: right;
}

/* 컨텐츠 */
.contents {
    display: flex;
    height: 200px;
    padding-top: 10px;
}

/* 탭 .tabs2html */

.tabs {
    position: relative;
    width: 480px;
}

.tabs input {
    display: none;
}

.tabs label {
    font-size: 16px;
    display: inline-block;
    padding: 2px 16px;
    background: #777;
    color: #999;
    cursor: pointer;
}

.tabs input:checked + label {
    background: #333;
    color: #fff;
}
.tabs .tab-content {
    position: absolute;
    display: none;
    width: 100%;
    padding: 16px;
    border-top: 2px solid #333;
}

.tabs input:checked + label + .tab-content {
    display: block;
}

/* 탭1 공지사항 */
.tabs .tab1 li {
    display: flex;
    justify-content: space-between;
}
.tabs .tab1 a {
    display: inline-block;
    font-size: 14px;
    line-height: 2;
}

.tabs .tab1 a:hover {
    text-decoration: underline;
}

/* 탭2 갤러리 */
.tabs .tab2 img {
    margin-left: 16px;
    /* border: 1px solid transparent; */
}

.tabs .tab2 img:hover {
    /* border-color: red; */
    box-shadow: 0px 0px 10px 5px orange;
}

/* 배너 */
.banner {
    width: 360px;
    margin: 0 16px;
}

/* 바로가기 링크 */
.link {
    width: 340px;
}

/* 푸터 */
footer {
    display: flex;
    height: 100px;
    background: #555;
}

.blogo {
    width: 200px;
    height: 40px;
    padding-top: 25px;
}

.copy {
    width: 800px;
    padding-top: 25px;
}

.sns {
    width: 200px;
}

.sns ul {
    display: flex;
    padding: 30px 10px 0 10px;
    justify-content: space-evenly;
}
