@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font: 15px/1.6 "돋움", sans-serif;
    color: #333;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

/* 기본 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
header {
    height: 100px;
    display: flex;
    background: #eef2f8;
}

/* 로고 */
.logo {
    width: 200px;
    height: 40px;
}

/* 내비게이션 */
.gnb {
    width: 640px;
    height: 30px;
    background: rebeccapurple;
}

.gnb li {
    opacity: 0;
}
/* 슬라이드 */
.slide {
    height: 300px;
    background: yellow;
}

.slide ul {
    opacity: 0;
}

/* 컨텐츠 */
.contents {
    display: flex;
    height: 200px;
    background: green;
}

/* 탭 */
.tabs {
    width: 400px;
    background: cadetblue;
}

/* 배너 */
.banner {
    width: 400px;
    background: hotpink;
}

/* 바로가기 링크 */
.link {
    width: 400px;
    background: darkgoldenrod;
}

/* 푸터 */
footer {
    display: flex;
    height: 100px;
    background: #555;
}

.blogo {
    width: 200px;
    height: 40px;
    padding-top: 25px;
}

.copy {
    width: 800px;
    padding-top: 25px;
}


.sns {
    width: 200px;
    background: sienna;
}

.sns ul {
    display: flex;
    padding: 30px 10px 0 10px;
    justify-content: space-evenly;
    
}
