/* reset */
:root {
    --text: #333;
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--text);
}

/* common */
/* typo system */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    background: var(--white);
    color: var(--text);
}

.nav {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    font-size: 20px;
    align-items: center;
}

h1 {
    width: 100px;
    height: 180px;
}

.nav-sub {
    display: flex;
    line-height: 150px;
}

.nav-sub a {
    padding: 10px 0;
    margin: 0 20px;
    border-top: 2px solid transparent;
    transition: 0.3s ease;
}

.nav-sub a:hover {
    border-top: 2px solid var(--text);
}

/* bookinfo */
.bookinfo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 300px;
    width: calc(100% - 600px);
}

.infobox {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    border: 3px solid var(--text);
    text-align: center;
}

.infobox_1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.infobox_2 {
    border: 1px solid var(--text);
    transform: rotate(90deg);
    width: 40px;
    margin: 50px auto;
}

/* book section */
.bookbox {
    margin: 0 auto;
    width: 1170px;
}

.bookbox-container {
    column-count: 4;
    column-gap: 10px;
}

.book-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

/* book hover overlay */
.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 400px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.book-card:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}
