/* book section */
.bookbox {
    margin: 0 auto;
    height: 100%;
}

.bookbox-container {
    column-count: 4;
    column-gap: 10px;
}

.book-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

/* book hover overlay */
.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 400px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.book-card:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}
