@charset "utf-8";

body {
    font: 16px/1.6 "굴림", sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 주조색 50%이상 color: #1b3b86; */

header, .contents, footer {
    width: 1340px;
    /* 가운데정렬 */
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav {
    width: 800px;
    height: 60px;
}

nav a {
    font-size: 18px;
}

nav li {
    border: 1px solid #1b3b86;
    width: 160px;
    line-height: 60px;
    text-align: center;

    /*
        inline, inline-block, none은 자기자신에게 부여
        inline은 width를 부여하지 못함
    */
    display: inline-block;
}


.slide {
    height: 350px;
    overflow: hidden;
}


.slide li+li {
    /*
        li 밑에 있는 동생 li 숨기기
    이후 슬라이드 구현 시 지워야 하는 부분
    */
    display: none;
}

.contents {
    height: 720px;
    /* 임의로 정함 */
    background-color: #1b3b86;
}

footer {
    height: 120px;
    background-color: #555;
}
