@charset "utf-8";

.wrap {
    position: relative;
    width: 100%;
    height: 2200px;
    margin: 0 auto;
}

/* 헤더임시고정 */
.header_container {
    width: 100%;
}

#header {
    width: 100%;
    height: 140px;
    text-align: center;
    line-height: 140px;
    background: #999;
}

.header_line {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background: #888;
}

/* 본문 */
.best_container {
    width: 1200px;
    height: 1615px;
    background: rgb(224, 223, 219);
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

/* 왼쪽 컨텐츠 + 리모콘 */
.sidebar {
    width: 320px;
    height: 1520px;
    background: yellowgreen;
    padding-bottom: 20px;
    /* transform: translateY(-20%); */
}

.sidebar_contents {
    position: relative;
    width: 320px;
    height: 730px;
    background: #ffffff;
    border: 1px solid #b5b5b6;
    border-radius: 15px;
}
.sidebar_title {
    position: relative;
    top: 28px;
    left: 25px;
    width: 256px;
    height: 34px;
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #b5b5b6;
}

.sidebar_title h1 {
    font-size: 16px;
}

.sidebar_title button {
    cursor: pointer;
    width: 60px;
    height: 26px;
    font-size: 12px;
    background: #eee;
    border: none;
    line-height: 26px;
    border-radius: 30px;
    margin-left: 10px;
}

.sidebar_title button:hover {
    background: #4c2f48;
    color: #ffffff;
}

.sidebar_contents_area {
    position: relative;
    top: 80px;
    left: 25px;
    width: 291px;
    height: 540px;
    overflow: auto;
}

.sidebar_contents_area h2 {
    font-size: 14px;
}

.search_container {
    position: relative;
    width: 256px;
    height: 90px;
    border-bottom: 1px solid #b5b5b6;
}

.search_container .search_box {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    outline: none;
    padding: 0 20px;
    background: #eee;
    margin-top: 8px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    /* transition: all 0.3s ease; */
}

.search_container .search_btn {
    position: absolute;
    right: 25px;
    top: 50px;
    transform: translateY(-50%);
    background: none;
    border: none;
    width: 13px;
    height: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_container {
    height: 75px;
    background: red;
    border-bottom: 1px solid #b5b5b6;
}

.train_container {
    height: 150px;
    background: orange;
    border-bottom: 1px solid #b5b5b6;
}

.during_container {
    height: 75px;
    background: yellow;
    border-bottom: 1px solid #b5b5b6;
}

.day_container {
    height: 112px;
    background: green;
    border-bottom: 1px solid #b5b5b6;
}

.key_container {
    height: 150px;
    background: blue;
}

/* 스크롤 효과 */
.sidebar_contents.sticky {
    position: fixed;
    top: 20px;
    width: 320px;
}

.sidebar_contents.bottom {
    position: absolute;
    bottom: 0;
}

/* 오른쪽 컨텐츠 */
.best_right {
    width: 856px;
    height: 1460px;
    /* background: yellow; */
}

/* 오른쪽 토글 */
.best_sub {
    position: relative;
    width: 100%;
    border-bottom: 3px solid #4c2f48;
}

.best_sub_title {
    padding-top: 4px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 8px;
    color: #4c2f48;
    background: none;
}

/* 토글 화살표 */
.arrow {
    width: 8px;
    height: 8px;
    border-top: 2px solid #4c2f48;
    border-right: 2px solid #4c2f48;
    transform: rotate(-45deg);
    transition: none;
}

.arrow.down {
    transform: rotate(135deg);
}

/* 토글 서브 */
.best_down {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
    /* border-radius: 10px; */
    background: #4c2f48;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 80px;
}

/* 토글 여닫음 */
#best_sub_nav {
    display: none;
}

#best_sub_nav.show {
    transition: 0.3s;
}

.best_down > li > a {
    display: block;
    color: #ffffff;
}

.best_down > li > a:hover {
    font-weight: bold;
}

/* 검색정보 */
.best_sub_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background: #dd1111;
    padding: 25px 0 40px;
    align-items: center;
}

.search_left p {
    color: #b5b5b6;
}

.search_right ul {
    display: flex;
}

.search_right a {
    color: #b5b5b6;
}

.search_right li:not(:last-child)::after {
    content: "|";
    margin: 0 16px;
    color: #b5b5b6;
}

.search_right a:hover {
    font-weight: bold;
    color: #333333;
}

.search_right a.active {
    font-weight: bold;
    color: #333333;
}

/* 오른쪽컨텐츠 여행정보 */
.best_contents {
    width: 100%;
    height: 100%;
    background: #c7c7c7;
}
.best_tour_contents {
    width: 100%;
    height: 1278px;
    background: #555;
}

.best_tour_contents_box {
    width: 100%;
    height: 230px;
    border: 1px solid #b5b5b6;
    border-radius: 15px;
    margin-bottom: 32px;
}

.best_tour_contents_box.activeBox {
    display: block;
}

/* 오른쪽 하단 페이지넘김 */
.best_btn_area {
    width: 100%;
    height: 20px;
    margin-top: 60px;
    text-align: center;
}

.best_btn_page {
    display: flex;
    justify-content: center;
}

.best_btn_area button {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
}

.best_btn_area button:hover {
    background: #c8b158;
    color: #ffffff;
    border-radius: 20px;
}

.best_btn_area .page_num.btnClick {
    background: #c8b158;
    color: #ffffff;
    border-radius: 20px;
}

.arrow_pagebtnL {
    width: 8px;
    height: 8px;
    border-top: 2px solid #4c2f48;
    border-right: 2px solid #4c2f48;
    transform: rotate(-135deg);
    transition: none;
}

.arrow_pagebtnR {
    width: 8px;
    height: 8px;
    border-top: 2px solid #4c2f48;
    border-right: 2px solid #4c2f48;
    transform: rotate(45deg);
    transition: none;
}

/* 푸터 */
.footer {
    width: 100%;
    height: 300px;
    background: #555;
}
