@charset "utf-8";

.wrap {
    position: relative;
    width: 100%;
    height: 2200px;
    margin: 0 auto;
}

/* 헤더임시고정 */
.header_container {
    width: 100%;
}

#header {
    width: 100%;
    height: 140px;
    text-align: center;
    line-height: 140px;
    background: #999;
}

.header_line {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background: #888;
}

/* 본문 */
.best_container {
    width: 1200px;
    height: 1615px;
    background: rgb(87, 62, 29);
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

/* 왼쪽 컨텐츠 + 리모콘 */
.sidebar {
    width: 320px;
    height: 1520px;
    background: yellowgreen;
    padding-bottom: 20px;
    /* transform: translateY(-20%); */
}

.sidebar_contents {
    width: 320px;
    height: 730px;
    background: rebeccapurple;
}

/* 스크롤 효과 */
.sidebar_contents.sticky {
    position: fixed;
    top: 20px;
    width: 320px;
}

.sidebar_contents.bottom {
    position: absolute;
    bottom: 0;
}


/* 오른쪽 컨텐츠 */
.best_right {
    width: 856px;
    height: 1460px;
    background: yellow;
}


/* 서브타이틀 드롭다운 */
.best_sub {
    position: relative;
    width: 100%;
    background: #555555;
}

.best_sub_title>a {
    display: inline;
    font-size: 20px;
    line-height: 42px;
    margin-right: 8px;
    color: var(--mainColor);
}

/* 아래화살표 */
.best_sub_title span {
    position: absolute;
    padding-top: 4px;
}

.best_sub_title span::after {
    content: '';
    width: 8px;
    /* 사이즈 */
    height: 8px;
    /* 사이즈 */
    border-top: 2px solid var(--mainColor);
    /* 선 두께 */
    border-right: 2px solid var(--mainColor);
    /* 선 두께 */
    display: inline-block;
    transform: rotate(-45deg);
    /* 각도 */
}

.best_sub_title.active span {
    transform: rotate(180deg);
}

.best_down {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-radius: 12px;
    background: var(--mainColor);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 80px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.best_down.show {
    opacity: 1;
    visibility: visible;
}

.best_down>li>a {
    display: block;
    color: var(--whiteTextColor);
}

.best_down>li>a:hover {
    font-weight: bold;
}






.best_sub_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background: #eee;
}

.search_left p {
    color: var(--grayTextColor);
}

.search_right ul {
    display: flex;
}

.search_right a {
    color: var(--grayTextColor);
}

.search_right li:not(:last-child)::after {
    content: "|";
    margin: 0 16px;
    color: var(--grayTextColor);

}


.search_right a:hover {
    font-weight: bold;
    color: var(--mainTextColor);
}

.search_right a.active {
    font-weight: bold;
    color: var(--mainTextColor);

}


/* 푸터 */
.footer {
    width: 100%;
    height: 300px;
    background: #555;
}