@charset "utf-8";

body,
ul,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade img {
    vertical-align: top;
}

.fade {
    position: relative;
    list-style: none;
    padding: 0;
    width: 1720px;
    height: 400px;
    overflow: hidden;
}

.fade li {
    position: absolute; /* 이미지를 겹치게하기 위해 */
    animation: 6s infinite;
}

.fade li:nth-of-type(1) {
    animation-name: fade1;
}
.fade li:nth-of-type(2) {
    animation-name: fade2; opacity: 0;
}
.fade li:nth-of-type(3) {
    animation-name: fade3; opacity: 0;
}

@keyframes fade1 {
    0% {opacity: 0;}
    10% {opacity: 1;}
    43% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade2 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    43% {opacity: 1;}
    66% {opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade3 {
    0% {opacity: 1;}
    10% {opacity: 0;}
    66% {opacity: 0;}
    76% {opacity: 1;}
    100% {opacity: 1;}
}