@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 15px/1.6 '돋움', sans-serif;
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

/* 전체 */

.wrap {
    width: 1000px;
    height: 650px;
    background: #fff;
    display: flex;
}

/* 헤더 */

header {
    width: 200px;
    background: #999;
}

.logo {
    width: 200px;
    height: 40px;
}

.logo img {
    margin-top: 20px;
}

nav {
    width: 160px;
    margin: 30px auto;
    background: #fff;
    line-height: 30px;
}

.main>li>a {
    display: block;
    width: 160px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid pink;
    line-height: 60px;

}

.main>li>a:hover {
    background: red;
    color: #fff;
}

.main>li:hover .sub {
    height: 90px;
}

.sub {
    height: 0;
    overflow: hidden;
    transition: .5s;
    background: pink;
}

.sub>li>a {
    display: block;
    text-align: center;
    line-height: 30px;
    color: #fff;

}

.sub>li>a:hover {
    background: #fff;
    color: #333;
}

/* container */
.container {
    width: 800px;
}

/* slide */

.slide {
    height: 350px;
    background: #888;
    position: relative;
    overflow: hidden;
}

.slide li {
    position: absolute;
    animation: 6s infinite;
}

.slide li:nth-of-type(1) {
    animation-name: fade1;
}

.slide li:nth-of-type(2) {
    animation-name: fade2;
    opacity: 0;
}

.slide li:nth-of-type(3) {
    animation-name: fade3;
    opacity: 0;
}

@keyframes fade1 {
    0% {opacity: 0;}
    10% {opacity: 1;}
    43% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade2 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    43% {opacity: 1;}
    66% {opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade3 {
    0% {opacity: 1;}
    10% {opacity: 0;}
    66% {opacity: 0;}
    76% {opacity: 1;}
    100% {opacity: 1;}
}
/* contents */

.contents {
    display: flex;
    height: 200px;
    padding-top: 5px;
}

/* tabs */

.tabs {
    width: 300px;
    padding: 3px;
}

.btn a {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    padding: 2px 5px;
    background: #333;
    color: #fff;
}

.btn a.active {
    background: #fff;
    color: #333;
}

#notice li {
    display: flex;
    justify-content: space-between;
}

#notice a:hover {
    text-decoration: underline;
}

.tabs div.active {
    display: block;
}

.tabs div {
    display: none;
}

#gallery {
    padding: 20px 0 0 20px;
}

/* banner */

.banner {
    width: 250px;
}

/* link */

.link {
    width: 250px;
}

/* footer */
footer {
    height: 100px;
    display: flex;
    background: #888;
}

.blogo {
    width: 200px;
}

.blogo img {
    margin-top: 20px;
}

.bottom_menu {
    width: 600px;
}

.bmenu {
    height: 50px;
}

.bmenu ul {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.bmenu a {
    margin: 0 5px;
    font-size: 13px;
} 

.bmenu li:not(:last-of-type)::after {
    content: "|";
}

.copy {
    height: 50px;
}

.copy p {
    font-size: 13px;
    padding-left: 15px;

}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
}

.popup {
    width: 500px;
    height: 300px;
    margin: 200px 250px;
    background: #fff;
    padding: 20px;
}

.popup div {
    text-align: right;
}

.popup button {
    padding: 2px 5px;
}