@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 15px/1.6 '돋움', sans=serif;
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

.wrap {
    display: flex;
    width: 1000px;
    height: 650px;
}

/* 헤더 */
header {
    width: 200px;
    background: #444;
    position: relative;
}

.logo {
    height: 40px;
    padding-top: 10px;
}

nav {
    position: relative;
    width: 160px;
    text-align: center;
    margin: 30px auto;
}

.main>li>a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    border-top: 2px solid #333;
    background: yellow;
}

.main>li>a:hover {
    background: #fff;
    color: blue;
}

.main li:hover .sub {
    height: 120px;
}

.sub {
    height: 0;
    overflow: hidden;
    transition: .5s;
    background: #fff;
}

.sub>li>a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.sub>li>a:hover {
    background: blue;
    color: #fff;
}

.container {
    width: 800px;
    background: #555;
}

/* 슬라이드 */
.slide {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.slide ul {
    position: absolute;
    width: 100%;
    height: 400%;
    animation: slide 8s infinite;
}

@keyframes slide {
    0% {top:0%}
    10% {top:-100%}
    33% {top:-100%}
    43% {top:-200%}
    66% {top:-200%}
    76% {top:-300%}
    99.99% {top:-300%}
    100% {top:0%}
}


.contents {
    display: flex;
    height: 200px;
    padding: 5px 0;
}

.tab {
    width: 300px;
}

.banner {
    width: 250px;
}

.link {
    width: 250px;
}

footer {
    display: flex;
    height: 100px;
    background: #666;
}

.blogo {
    width: 200px;
    background: #888;
}