@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 15px/1.6 "돋움", sans=serif;
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

.wrap {
    display: flex;
    width: 1000px;
    height: 650px;
}

/* 헤더 */
header {
    width: 200px;
    background: #444;
    position: relative;
}

.logo {
    height: 40px;
    padding-top: 10px;
}

nav {
    position: relative;
    width: 160px;
    text-align: center;
    margin: 30px auto;
}

.main > li > a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    border-top: 2px solid #333;
    background: yellow;
}

.main > li > a:hover {
    background: #fff;
    color: blue;
}

.main li:hover .sub {
    height: 120px;
}

.sub {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background: #fff;
}

.sub > li > a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.sub > li > a:hover {
    background: blue;
    color: #fff;
}

.container {
    width: 800px;
}

/* 슬라이드 */
.slide {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.slide ul {
    position: relative;
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 8s infinite;
}

@keyframes slide {
    0% {
        left: 0%;
    }
    10% {
        left: -100%;
    }
    33% {
        left: -100%;
    }
    43% {
        left: -200%;
    }
    66% {
        left: -200%;
    }
    76% {
        left: -300%;
    }
    99.99% {
        left: -300%;
    }
    100% {
        left: 0%;
    }
}

/* 공지사항~바로가기링크 */
.contents {
    display: flex;
    height: 200px;
    padding: 5px 0;
}

/* 탭 */
.tabs {
    width: 300px;
    margin-top: 5px;
    margin-left: 5px;
}

.tabs .btn a {
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    padding: 5px 15px;
    text-align: center;
    align-items: 20px;
    background: #333;
    color: #fff;
}

.tabs .btn a.active {
    background: #fff;
    color: #333;
}

/* 공지사항 */
.tabs #notice {
    width: 100%;
    padding: 0 5px;
}

.tabs h2 {
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}

.tabs #notice li {
    display: flex;
    justify-content: space-between;
}

.tabs #notice ul {
    padding: 5px 0;
}

.tabs #notice a:hover {
    text-decoration: underline;

}

.tabs div {
    display: none;
}

.tabs div.active {
    display: block;
}

/* 갤러리 */
#gallery {
    width: 100%;
    margin-top: 10px;
}

#gallery a {
    padding: 0 5px;
}
.banner {
    width: 250px;
}

.link {
    width: 250px;
}

footer {
    display: flex;
    height: 100px;
    background: #666;
}

.blogo {
    width: 200px;
}

.blogo img {
    margin-top: 20px;
}

.txt {
    font-size: 14px;
    color: #999;
}

.btxt a {
    color: #999;
}

.btxt {
    width: 600px;
    height: 50px;
}

.btxt ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 50px;
}

