@charset "utf-8";
@import url(./reset.css);

/* 공통, 모바일 포함 */
body {
    height: 100vh;
}

#sec1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sec1_slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE */
}

.sec1_slider::-webkit-scrollbar {
    display: none;
}

/* container1 */
.sec1_container_1 {
    flex: 0 0 100vw;
    display: flex;
    height: 100vh;
    color: var(--red);
    background: var(--white);
}

.sec1_container_1>div {
    position: relative;
    flex: 0 0 100vw;
}

.sec1_container_1 .img_1 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 43%;
    left: 19%;
    animation: motion 1.5s linear 0.2s infinite alternate;
}

.sec1_container_1 .img_2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 43%;
    left: 19%;
    animation: rotate_image 3s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 5px;
    }

    100% {
        margin-top: 10px;
    }
}


@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }

}

.sec1_container_1 .img_1 {
    opacity: 0;
    transform: translateY(-350px);
    transition: all 0.6s ease;
}

.sec1_container_1 .img_2 {
    opacity: 0;
    transform: translateY(-350px);
    transition: all 0.6s ease;
}

.sec1_container_1 .img_1.show {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(15deg);

}

.sec1_container_1 .img_2.show {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(15deg);

}

h2 {
    position: absolute;
    font-size: 8rem;
    font-weight: 800;
    line-height: 1;
}

h3 {
    position: absolute;
    font-weight: 800;
    line-height: 1;
}

.font_1 {
    position: absolute;
    left: 5%;
    top: 32%;
}

.font_2 {
    position: absolute;
    right: 5%;
    top: 40%;
}

.font_3 {
    position: absolute;
    font-size: 2.8rem;
    left: 5%;
    bottom: 30%;
}

.font_4 {
    position: absolute;
    font-size: 1.6rem;
    left: 5%;
    bottom: 27%;
}

/* container2 */
.sec1_container_2 {
    flex: 0 0 100vw;
    display: flex;
    height: 100vh;
    color: var(--red);
    background: var(--yellow);
}

.sec1_container_2>div {
    position: relative;
    flex: 0 0 100vw;

}

/* container3 */
.sec1_container_3 {
    flex: 0 0 100vw;
    display: flex;
    height: 100vh;
    color: var(--white);
    background: var(--blue);
}

.sec1_container_3>div {
    position: relative;
    flex: 0 0 100vw;

}



/* 효과 */
.sec1_container_1 .font_1 {
    opacity: 1;
    transform: translateX(-1905px);
    transition: all 0.6s ease;
}

.sec1_container_1 .font_2 {
    opacity: 1;
    transform: translateX(1905px);
    transition: all 0.6s ease;
}

.sec1_container_1 .font_3,
.sec1_container_1 .font_4 {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}

.sec1_container_1 .show {
    opacity: 1;
    transform: translateX(0);
}


/* tablet */
@media (min-width: 768px) {
    .sec1_container_1 .img_1 {
        width: 500px;
        height: 300px;
        position: absolute;
        top: 33%;
        left: 17%;
        animation: motion 1.5s linear 0.2s infinite alternate;
    }

    h2 {
        position: absolute;
        font-size: 12rem;
        font-weight: 800;
        text-align: center;
        line-height: 1;
    }

    .font_1 {
        position: absolute;
        left: 5%;
        top: 30%;
    }

    .font_2 {
        position: absolute;
        right: 5%;
        top: 40%;
    }

}

/* desktop */
@media (min-width: 1200px) {
    .sec1_container_1 .img_1 {
        width: 800px;
        height: 500px;
        position: absolute;
        top: 23%;
        left: 28%;
        animation: motion 1.5s linear 0.2s infinite alternate;
    }

    h2 {
        position: absolute;
        font-size: 26rem;
        font-weight: 800;
        text-align: center;
        line-height: 1;
    }

    .font_1 {
        position: absolute;
        left: 3%;
        top: 22%;
    }

    .font_2 {
        position: absolute;
        right: 3%;
        top: 44%;
    }

    .font_3 {
        position: absolute;
        font-size: 4.6rem;
        left: 5%;
        bottom: 25%;
    }

    .font_4 {
        position: absolute;
        font-size: 1.8rem;
        left: 5%;
        bottom: 22%;
    }
}