@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    font: 16px/1.6 "Noto Sans KR", sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}


/* header */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: inline-block;
    margin-top: 16px;
}
.main {
    display: flex;
}

.main li a {
    width: 140px;
    height: 40px;
    border: 1px solid #00A9E0;
    color: #00A9E0;
    margin-right: 8px;
    display: inline-block;
    text-align: center;
    line-height: 36px;

}

.main li a:hover {
    color: #fff;
    background: #00A9E0;
}

/* slide */
.slide {
    position: relative;
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: absolute;
    width: 100%;
    height: 400%;
    animation: slide 8s infinite;
}

/* .slide li {
            height: 25%;
        } */

@keyframes slide {
    0% {
        top: 0%;
    }
    10% {
        top: -100%;
    }
    33% {
        top: -100%;
    }
    43% {
        top: -200%;
    }
    66% {
        top: -200%;
    }
    76% {
        top: -300%;
    }
    99.99% {
        top: -300%;
    }
    100% {
        top: 0%;
    }
}

/* contents */
.contents {
    display: flex;
    height: 200px;
}

/* notice */
.notice {
    width: 400px;
    padding: 10px;
    
}

.notice h2 {
    margin-bottom: 6px;
}

.notice li {
    line-height: 28px;
    border-bottom: 1px solid #333;

}

.notice li:hover {
    text-decoration: underline;
    border-bottom: 1px solid transparent;
    background: #00A9E0;
}

.notice a {
    display: inline-block;
    width: 260px;

}

.notice span {
    display: inline-block;
    padding-left: 36px;

}

/* gallery */
.gallery {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
}

.gallery h2 {
    margin-bottom: 6px;
}

.inner {
    display: flex;
    justify-content: space-between;
}


/* link */
.link {
    width: 400px;
}

.copy {
    padding: 14px 20px;
}

.copy p {
    font-size: 14px;
    color: #777;
}

/* footer */
footer {
    height: 100px;
    background: #333;
    display: flex;
    justify-content: space-between;
}

.sns_fs {
    width: 300px;
}

.sns {
    padding: 14px 0 0 8px;
}

.sns ul {
    display: flex;
}

.sns li {
    margin-right: 16px;

}

.fs {
    height: 50px;
    padding: 8px;
}