@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.6 "Noto Sans KR", sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

/* header */
header {
    background: #f5f5f5;
    width: 100%;
    margin: 0 auto;
}

header .inner {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 200px;
    height: 40px;
}

.gnb {
    z-index: 2;
    position: relative;
    width: 1200px;
    height: 100px;
    top: 64px;
    right: 0;
}

.nav_bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 100px;
    left: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
}

/* 1dep */
.main {
    display: flex;
    text-align: center;
    justify-content: end;
}

.main li {
    width: 160px;
}

.main > li > a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    background: #333;
    color: #999;
    padding: 4px 0;
}

.main > li > a:hover {
    background: blue;
    color: #fff;
}

/* 2dep */
.sub {
    /* visibility: hidden; */
    display: none;
    height: 150px;
    line-height: 30px;
    /* transition: .3s; */
    /* display는 transition 적용 x */
}

.sub a {
    display: block;
    color: #fff;
}

.sub a:hover {
    background: #fff;
    color: #333;
}

/* container */

.container {
    width: 1200px;
    margin: 0 auto;
}

/* slide */
.slide {
    position: relative;
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slide ul {
    position: absolute;
    width: 100%;
    height: 400%;
    animation: slide 8s infinite;
}

/*
    .slide li {
        height: 25%;
    }
*/

@keyframes slide {
    0% {
        top: 0%;
    }
    10% {
        top: -100%;
    }
    33% {
        top: -100%;
    }
    43% {
        top: -200%;
    }
    66% {
        top: -200%;
    }
    76% {
        top: -300%;
    }
    99.99% {
        top: -300%;
    }
    100% {
        top: 0%;
    }
}

/* contents */
.contents {
    display: flex;
    height: 200px;
}

/* notice */
.notice {
    width: 400px;
    padding: 10px;
}

.notice h2 {
    margin-bottom: 6px;
}

.notice li {
    line-height: 28px;
    border-bottom: 1px solid #333;
}

.notice li:hover {
    text-decoration: underline;
    border-bottom: 1px solid transparent;
    background: #00a9e0;
}

.notice a {
    display: inline-block;
    width: 260px;
}

.notice span {
    display: inline-block;
    padding-left: 36px;
}

/* gallery */
.gallery {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.gallery h2 {
    margin-bottom: 6px;
}

.gallery .inner {
    display: flex;
}

.gallery .inner a {
    margin-right: 12px;
}

/* link */
.link {
    width: 400px;
}

/* footer */
footer {
    height: 100px;
    background: #333;
    color: #777;
}

footer .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.copy {
    padding: 14px 20px;
}

.copy p {
    font-size: 14px;
}

.sns_fs {
    width: 300px;
}

.sns {
    padding: 14px 0 0 8px;
}

.sns a {
    color: #777;
    margin: 0 8px;
}

.sns ul {
    display: flex;
}

.sns li {
    font-size: 14px;
}

.fs {
    height: 50px;
    padding: 8px 0 0 16px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.5);
    z-index: 999;
}

.popup {
    margin: 50px auto;
    width: 500px;
    padding: 50px;
    background: #fff;
}

.popup p {
    margin-bottom: 30px;

}

.popup div {
    text-align: right;
}

.popup button {
    padding: 2px 5px;
}