@charset "utf-8";
@import url(../reset.css);
@import url(../header.css);

:root {
    --gray: #e9ecef;
    --contentsGray: #f8f9fa;
    --menuText: #555;
    --text: #333;
    --white: #fff;
    --red: #e31837;
}

button {
    border: none;
    background: transparent;
}

/* 공통, 모바일 포함 */
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

#sub {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.sub_container {
    padding: 110px 20px;
}

.sub_title {
    text-align: center;
}

.sub_title h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.sub_menu {
    padding: 20px 5px;
    text-align: center;
    margin: 0 auto;
}

.sub_menu ul {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.sub_menu li > a {
    display: block;
    padding: 8px 8px;
    align-items: center;
    background: var(--gray);
    color: var(--menuText);
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.1s ease;
    flex: 1 1 20%; /* 기본 너비 20%, 늘어나거나 줄어들 수 있음 */
    min-width: 100px; /* 너무 작아지지 않도록 */
}

.sub_menu li > a:hover {
    background: var(--red);
    color: var(--white);
}

/* 본문 */
.guide_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.guide_title {
    padding-top: 100px;
    padding-bottom: 40px;
}

.guide_title h3 {
    text-align: center;
    font-size: 1.8rem;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tabs a {
    background: var(--contentsGray);
    color: var(--menuText);
    padding: 15px 33px;
    cursor: pointer;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.1s ease;
}

.tabs a:hover {
    background: var(--red);
    color: var(--white);
}

.tab_section {
    margin-bottom: 80px;
}

.tab_button.active {
    background: var(--red);
    color: var(--white);
}

.tab-content {
    background: var(--contentsGray);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.guide_layout {
    display: flex;
    flex-direction: column;
}

/* guide_left */
.guide_left {
    display: grid;
}

.guide_left > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "c1 c2"
        "g3 g3";
    justify-content: space-between;
}

.left_container_1 {
    grid-area: c1;
}

.left_container_2 {
    align-content: end;
    text-align: end;
    grid-area: c2;
}

.guide_left_3 {
    grid-area: g3;
}

/* .guide_left > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} */

.guide_left_1 {
    font-size: 1.6rem;
    font-weight: bold;
}

.guide_left_2 {
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.3;
}

.guide_left_3 {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.left_container_2 a {
    display: inline-block;
    padding: 8px 16px;
    background: var(--red);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 30px;
}

/* guide_right */
.right_container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    flex-shrink: 0;
}

.right_box {
    display: flex;
    padding: 20px;
    font-size: 1.4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    /* grid-row: 1 / span 1;
    grid-column: 1 / span 1; */
    border-radius: 25px;
    border: 2px solid var(--gray);
    background: var(--white);
}

.right_box_1 {
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    background: var(--red);
    color: var(--white);
    font-weight: bold;
}

.right_box_2 {
    color: var(--menuText);
}

/* 컨텐츠마다 그리드 조절 */
/* 두통 원인 */
.right_container.what_headache {
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* 두통 완화법 */
.right_container.head_soultion {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    flex-shrink: 0;
}

/* tablet */
@media (min-width: 768px) {
    .sub_title h2 {
        font-size: 3rem;
        font-weight: bold;
    }

    .sub_menu li > a {
        display: block;
        padding: 16px 36px;
        align-items: center;
        background: var(--gray);
        color: var(--menuText);
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 30px;
    }

    .guide_title h3 {
        font-size: 3rem;
    }

    .tab_section {
        margin-bottom: 140px;
    }

    .tabs a {
        font-size: 1.6rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .tab-content {
        padding: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .guide_left > div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "c1"
            "g3"
            "c2";
    }

    .left_container_2 {
        text-align: start;
        grid-area: c2;
    }

    .guide_left_1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .guide_left_2 {
        margin-top: 10px;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.3;
    }

    .guide_left_3 {
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 30px;
        align-items: start;
        height: auto;
    }

    .right_box_1 {
        font-size: 1.6rem;
    }

    .guide_layout {
        flex-direction: row;
        gap: 80px;
        justify-content: space-between;
    }

    .guide_left {
        flex: 0 0 30%;
        /* 좌측 폭 30% 고정 */
    }

    .right_container.what_headache {
        flex: 1;
        /* 우측 나머지 폭 */
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 40px;
    }
}

/* desktop */
@media (min-width: 1300px) {
    .sub_container {
        padding: 110px 160px;
    }

    .sub_title h2 {
        font-size: 7rem;
        font-weight: bold;
    }

    .sub_menu li > a {
        display: block;
        padding: 16px 36px;
        align-items: center;
        background: var(--gray);
        color: var(--text);
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 30px;
    }

    .guide_title h3 {
        font-size: 5rem;
    }

    .guide_layout {
        flex-direction: row;
        justify-content: space-between;
    }

    .guide_left_1 {
        font-size: 2.4rem;
        font-weight: bold;
    }

    .guide_left_2 {
        margin-top: 30px;
        font-size: 5rem;
        font-weight: bold;
        line-height: 1.3;
    }

    .guide_left_3 {
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .right_container.what_headache {
        grid-template-columns: repeat(4, 1fr);
        /* 가로 4칸 고정 */
        grid-template-rows: repeat(2, auto);
        /* 세로 2줄 고정 */
        padding-top: 80px;
    }

    .right_container.head_soultion {
        grid-template-columns: repeat(3, 1fr);
    }

    .wide {
        grid-column: span 3; /* 가로 3칸 전체 차지 */
    }

    .tabs a {
        font-size: 2.2rem;
    }
}
