@charset "utf-8";
@import url(/w0310/70_pf/tylenol/css/reset.css);
@import url(/w0310/70_pf/tylenol/css/sub/header_sub.css);
@import url(/w0310/70_pf/tylenol/css/footer.css);

:root {
    --gray: #e9ecef;
    --contentsGray: #f8f9fa;
    --menuText: #252424;
    --text: #333;
    --white: #fff;
    --red: #e31837;
}

button {
    border: none;
    background: transparent;
}

input, select, textarea {
    border: transparent;
}

.helpcenter_body {
    display: flex;
    flex-direction: column;
}

/* 공통, 모바일 포함 */
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

#helpcenter {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    flex: 1;
}

#helpcenter>div {
    padding: 110px 20px 0;
}

.helpcenter_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    margin: 0 auto;
    gap: 50px;
}

.helpcenter_title {
    text-align: center;
    padding-bottom: 40px;

}

.helpcenter_title h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.container1_title h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 50px;
}

.container1.part1 {
    padding-bottom: 60px;
}

.container1.part2 {
    padding-bottom: 100px;
}

.container1.part3 {
    padding-bottom: 30px;
    width: 100%;
}

.container1 p:first-child {
    font-weight: bold;
}

.must1 {
    color: var(--red);
    margin-right: 8px;
}

.container2 {
    flex: 0 0 50%;
}

.container2_t {
    font-weight: bold;
}

.container2_input {
    background: var(--contentsGray);
    padding: 20px;
}

.container2_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 80px;
}

.fields {
    display: flex;
    gap: 30px;
}

.form-row {
    vertical-align: top;
}

#message {
    width: 100%;
    height: 150px;
}

.sub_menu li>a:hover {
    background: var(--red);
    color: var(--white);
}

.container2_right .fields {
    display: flex;
    flex-direction: column;
}

.tabs a:hover {
    background: var(--red);
    color: var(--white);
}

.tab_section {
    margin-bottom: 80px;
}

/* 해당 탭 */
.tab_button.active {
    background: var(--red);
    color: var(--white);
}

.tab-content {
    padding: 20px;
}

.guide_layout {
    display: flex;
    flex-direction: column;
}


/* tablet */
@media (min-width: 768px) {
    .helpcenter_container {
        display: flex;
        flex-direction: row;
    }

    .helpcenter_title h2 {
        font-size: 4.5rem;
        font-weight: bold;
    }
}

/* desktop */
@media (min-width: 1300px) {
    #helpcenter>div {
        padding: 110px 160px 0;
    }

    .helpcenter_title h2 {
        font-size: 7rem;
        font-weight: bold;
    }
}