@charset "utf-8";
/* CSS Document */

/* reset */
* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
    color: #333;
    font: 16px/1.6 "굴림", sans-serif; /* '굴림' */
}

a {
    text-decoration: none;
    color: #333;
}

/* 공통 */
html,
body {
    height: 100%;
}

.wrap {
    display: flex;
    height: calc(100% - 120px);
    /*
        함수의 형식
        함수명(매개변수)
        함수명(피연산자1 연산자 피연산자2)
        calc(피연산자 - 피연산자) 띄어쓰기 주의
    
    */
    /* 120px - footer */
}

/* 헤더 */

header {
    /* position: relative; */
    width: 200px;
    height: calc(100vh - 120px);
    /* vh 화면전체(세로) */
    background: #309898;
    padding-top: 30px;
}

/* 로고 */
.logo {
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    text-align: center;
}

/* 내비게이션 */
.gnb {
    margin: 20px;
}

/* 1뎁스 메인 */
.main > li {
    position: relative;
    /* sub가 li의 자식이기 때문 */
}

.main > li > a {
    display: block;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #333;
    background: #fff;
    padding: 8px 0;
    color: #333;
}

.main > li > a:hover {
    background: #E33B2E;
    color: #fff;
}

.main li:hover .sub {
    z-index: 1;
    left: 160px;
    visibility: visible;
    opacity: 1;
}

.sub {
    z-index: 1; /* -1까지 안써도 됌 */
    position: absolute;
    visibility: hidden; /* 잘 가리고 호버 잘되게 함 */
    top: 0;
    opacity: 0;
    left: 100px;
    width: 160px;
    background: rgba(119, 119, 119, 0.8);
    transition: 0.3s;
    line-height: 2;
    padding: 16px 0;
}

.sub li a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px;
}

.sub li a:hover {
    color: #333;
    background: #fff;
}
/* contents */
.contents {
    width: 400px;
}

/* banner */
.banner {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.cont {
    display: flex;
}

.cont img {
    margin-right: 16px;
}

.cont > div > h2 {
    font-size: 16px;
}

/* notice */
.notice {
    height: calc(100% - 600px);
    padding: 16px 13px 13px;
}

.notice h2 {
    margin-bottom: 8px;
}

.notice li {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    border-bottom: 1px solid transparent;
}

.notice li:hover {
    border-bottom: 1px solid #309898;
}

/* .notice a {
    display: inline-block;
    width: 287px;
    .nitice li를 display: flex; 사용하지 않았을 때
} */

/* gallery */
.gallery {
    height: 300px;
    padding-top: 16px;
}

.gallery h2 {
    margin-left: 13px;
    margin-bottom: 16px;
}

.inner {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

/* .gallery a {
    margin-right: 15px;
} */

/* link */
.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}

.link span {
    display: block;
    font-size: 0.8em;
}

.link img {
    background: #309898;
    padding: 8px 6px;
    border-radius: 15px;
    text-align: center;
}

.link a {
    text-align: center;
}

/* slide */
.slide {
    width: calc(100% - 600px);
    overflow: hidden;
    /* overflow: hidden; 넘치면 숨기는 기능 */
}

.slide ul {
    position: relative;
    display: flex;
    width: calc(100% - 600px);
    animation: slide 8s infinite;
}

@keyframes slide {
    0% {
        left: 0%;
    }
    10% {
        left: -100%;
    }
    33% {
        left: -100%;
    }
    43% {
        left: -200%;
    }
    66% {
        left: -200%;
    }
    76% {
        left: -300%;
    }
    99.99% {
        left: -300%;
    }
    100% {
        left: 0%;
    }
}

/* footer */
footer {
    display: flex;
    align-items: center;
    height: 120px;
    background: #333;
}
/* bottom logo */
.blogo {
    width: 200px;
}

/* bottom menu, address, copyright */
.center_cont {
    width: calc(100% - 500px);
    padding-left: 60px;
    color: #777;
}

/* bottom menu */
.bmenu {
    display: flex;
    height: 30px;
}

.bmenu li {
    margin-right: 16px;
}

.bmenu li:not(:last-child):after {
    content: "|";
    margin-left: 16px;
}

.bmenu a {
    color: #c0c0c0;
}

.fs {
    width: 300px;
}
