@charset "utf-8";
/* CSS Document */

/* reset */
* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
    color: #333;
    font: 16px/1.6 '굴림', sans-serif; /* '굴림' */
}

a {
    text-decoration: none;
    color: #333;
}



/* 공통 */
html, body {
    height: 100%;
}

.wrap {
    display: flex;
    height: calc(100% - 120px);
    /*
        함수의 형식
        함수명(매개변수)
        함수명(피연산자1 연산자 피연산자2)
        calc(피연산자 - 피연산자) 띄어쓰기 주의
    
    */
    /* 120px - footer */
}




/* header */
header {
    width: 200px;
    background: #309898;
    padding: 20px 0;
}

/* 로고 */
.logo {
    text-align: center;
}

/* nav */

nav {
    padding: 20px;
    text-align: center;

}
nav li {
    height: 60px;
    line-height: 60px;
    margin-top: 8px;
    background: #fff;
    /* cursor: pointer; 
    a영역 확장 */
}

nav a:hover {
    background: #E53E30;
    color: #fff;
}

nav a {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-weight: bold;

    /* transition: 0.3s; */
}

/* contents */
.contents {
    width: 400px;
}

/* banner */
.banner {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding:0 8px;
}

.cont {
    display: flex;
}

.cont img {
    margin-right: 16px;
}

.cont > div > h2 {
    font-size: 16px;
}

/* notice */
.notice {
    height: calc(100% - 600px);
    padding: 16px 13px 13px;
}

.notice h2 {
    margin-bottom: 8px;
}

.notice li {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    border-bottom: 1px solid transparent;

}

.notice li:hover {
    border-bottom: 1px solid #309898;
}

/* .notice a {
    display: inline-block;
    width: 287px;
    .nitice li를 display: flex; 사용하지 않았을 때
} */

/* gallery */
.gallery {
    height: 300px;
    padding-top: 16px;
}

.gallery h2 {
    margin-left: 13px;
    margin-bottom: 16px;
}

.inner {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

/* .gallery a {
    margin-right: 15px;
} */

/* link */
.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}

.link span {
    display: block;
    font-size: 0.8em;
}

.link img {
    background: #309898;
    padding: 8px 6px;
    border-radius: 15px;
    text-align: center;
}

.link a {
    text-align: center;
}

/* slide */
.slide {
    width: calc(100% - 600px);
    overflow: hidden;
    /* overflow: hidden; 넘치면 숨기는 기능 */
}

.slide ul {
    position: relative;
    display: flex;
    width: calc(100% - 600px);
    animation: slide 8s infinite;

}

@keyframes slide {
    0% {left: 0%;}
    10% {left: -100%;}
    33% {left: -100%;}
    43% {left: -200%;}
    66% {left: -200%;}
    76% {left: -300%;}
    99.99% {left: -300%;}
    100% {left: 0%;}
}

/* footer */
footer {
    display: flex;
    align-items: center;
    height: 120px;
    background: #333;
}
/* bottom logo */
.blogo {
    width: 200px;
}

/* bottom menu, address, copyright */
.center_cont {
    width: calc(100% - 500px);
    padding-left: 60px;
    color: #777;
}

/* bottom menu */
.bmenu {
    display: flex;
    height: 30px;
}

.bmenu li {
    margin-right: 16px;
}

.bmenu li:not(:last-child):after {
    content: "|";
    margin-left: 16px;
}

.bmenu a {
    color: #c0c0c0;
}

.fs {
    width: 300px;
}
